# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Verilog files
*.v

# Waveform dumps
*.vcd
*.gtkw

# Tests outputs
test/__traces__

# cocotb build
/test/regression/cocotb/build
/test/regression/cocotb/results.xml

# riscv-tests
test/external/riscv-tests/test-*

# Documentation build
build/
docs/*.rst

# Synthesis
build/
benchmark.json
