# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Verilog files
*.v

# Verilog generation debug files
*.v.json

# Waveform dumps
*.vcd
*.gtkw

# Tests outputs
test/__traces__
test/__profiles__/*.json
pytestdebug.log
_coreblocks_regression.lock
_coreblocks_regression.counter
.hypothesis

# cocotb build
/test/regression/cocotb/build
/test/regression/cocotb/results.xml
/test/regression/cocotb/cocotb-config.cache

# riscv-tests
test/external/riscv-tests/test-*

# embench benchmark
test/external/embench/build
test/external/embench/logs
/test/regression/benchmark_results

# Documentation build
build/
docs/*.rst

# Synthesis
build/
benchmark.json
