[submodule "test/external/riscv-tests/riscv-tests"]
	path = test/external/riscv-tests/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "test/external/embench/embench-iot"]
	path = test/external/embench/embench-iot
	url = https://github.com/embench/embench-iot.git
	ignore = dirty
[submodule "test/external/riscof/riscv-arch-test"]
	path = test/external/riscof/riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test.git
[submodule "amaranth-stubs"]
	path = amaranth-stubs
	url = https://github.com/kuznia-rdzeni/amaranth-stubs.git
