./amaranth-stubs/  # can't use -e -- pyright doesn't see the stubs then :(
amaranth-yosys==0.35.0.0.post81
git+https://github.com/amaranth-lang/amaranth@f48b8650c4df42b3260c4791b18fad7991af0541
dataclasses-json==0.6.3
