-r requirements.txt
black==23.3.0
docutils==0.15.2
flake8==6.0.0
pep8-naming==0.13.3
git+https://github.com/kristopher38/riscv-python-model@b5d0737#riscv-model
markupsafe==2.0.1
myst-parser==0.18.0
numpydoc==1.5.0
parameterized==0.8.1
pre-commit==2.16.0
pyright==1.1.308
Sphinx==5.1.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-mermaid==0.8.1
cocotb==1.7.2
cocotb-bus==0.2.1
pytest==7.2.2
pyelftools==0.29
