name: Core Benchmarks

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  synthesis:
    strategy:
      matrix:
        config: [basic, full]
    name: Synthesis benchmarks
    runs-on: ubuntu-latest
    timeout-minutes: 40
    container: ghcr.io/kuznia-rdzeni/amaranth-synth:ecp5-2023.11.19_v
    steps:
      - uses: actions/checkout@v3

      - name: Set ownership (Github Actions workaround)
        run: |
          # https://github.com/actions/runner/issues/2033
          chown -R $(id -u):$(id -g) $PWD

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python3 -m venv venv
          . venv/bin/activate
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements-dev.txt

      - name: Synthesize
        run: |
          . venv/bin/activate
          PYTHONHASHSEED=0 ./scripts/synthesize.py --verbose --config ${{ matrix.config }}

      - name: Print synthesis information
        run: cat ./build/top.tim

      - name: Collect Benchmark information
        run: |
          . venv/bin/activate
          ./scripts/parse_benchmark_info.py
          cat ./benchmark.json

      - name: Store benchmark result (Fmax)
        uses: benchmark-action/github-action-benchmark@v1
        if: github.ref == 'refs/heads/master'
        with:
          name: Fmax and LCs (${{ matrix.config }})
          tool: 'customBiggerIsBetter'
          output-file-path: './benchmark.json'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          benchmark-data-dir-path: "dev/benchmark"

  build-perf-benchmarks:
    name: Build performance benchmarks
    runs-on: ubuntu-latest
    container: ghcr.io/kuznia-rdzeni/riscv-toolchain:2023.11.19_v
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Build embench
        run: cd test/external/embench && make

      - uses: actions/upload-artifact@v3
        with:
          name: "embench"
          path: |
            test/external/embench/build

  run-perf-benchmarks:
    name: Run performance benchmarks
    runs-on: ubuntu-latest
    timeout-minutes: 600
    container: ghcr.io/kuznia-rdzeni/verilator:v5.008-2023.11.19_v
    needs: build-perf-benchmarks
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set ownership (Github Actions workaround)
        run: |
          # https://github.com/actions/runner/issues/2033
          chown -R $(id -u):$(id -g) $PWD

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python3 -m venv venv
          . venv/bin/activate
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements-dev.txt

      - name: Generate Verilog
        run: |
          . venv/bin/activate
          PYTHONHASHSEED=0 TRANSACTRON_VERBOSE=1 ./scripts/gen_verilog.py --verbose --config full

      - uses: actions/download-artifact@v3
        with:
          name: "embench"
          path: test/external/embench/build

      - name: Run benchmarks
        run: |
          . venv/bin/activate
          scripts/run_benchmarks.py

      - name: Store benchmark result (IPC)
        uses: benchmark-action/github-action-benchmark@v1
        if: github.ref == 'refs/heads/master'
        with:
          name: Performance (IPC)
          tool: 'customBiggerIsBetter'
          output-file-path: './benchmark.json'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          benchmark-data-dir-path: "dev/benchmark"
