name: CI

on:
  push:
    branches:
      - master
      - 'feature/**'
  pull_request:
    branches:
      - master
      - 'feature/**'
  workflow_dispatch:

jobs:
  build-riscof-tests:
    name: Build regression tests (riscv-arch-test)
    runs-on: ubuntu-latest
    container: ghcr.io/piotro888/riscv-toolchain:2023.11.15
    timeout-minutes: 10
    env:
      PYENV_ROOT: "/root/.pyenv"
      LC_ALL: "C.UTF8"
      LANG: "C.UTF8"
    defaults:
      run:
        working-directory: test/external/riscof/
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PATH
        run: echo "/.pyenv/bin" >> $GITHUB_PATH

      - name: Setup pyenv python
        run: |
          eval "$(pyenv init --path)"
          pyenv global 3.6.15
          . /venv3.6/bin/activate

      - name: Setup arch test suite
        run: |
          . /venv3.6/bin/activate
          riscof --verbose info arch-test --clone
          riscof testlist --config=config.ini --suite=riscv-arch-test/riscv-test-suite/ --env=riscv-arch-test/riscv-test-suite/env

      - name: Build and run tests on reference and generate Makefiles
        run: |
          . /venv3.6/bin/activate
          riscof run --config=config.ini --suite=riscv-arch-test/riscv-test-suite/ --env=riscv-arch-test/riscv-test-suite/env

      - name: Build tests for Coreblocks
        run: |
          MAKEFILE_PATH=riscof_work/Makefile.build-DUT-coreblocks ../../../ci/riscof_run_makefile.sh

      - uses: actions/upload-artifact@v3
        with:
          name: "riscof-tests"
          path: |
            test/external/riscof/riscv-arch-test/**/*.elf
            test/external/riscof/riscof_work/**/*.signature
            test/external/riscof/**/*Makefile*

  run-riscof-tests:
    name: Run regression tests (riscv-arch-test)
    runs-on: ubuntu-latest
    container: ghcr.io/kuznia-rdzeni/verilator:v5.008-3.11
    needs: build-riscof-tests
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
            python-version: '3.11'

      - name: Install Coreblocks dependencies
        run: |
          python3 -m venv venv
          . venv/bin/activate
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements-dev.txt

      - name: Generate Verilog
        run: |
          . venv/bin/activate
          PYTHONHASHSEED=0 ./scripts/gen_verilog.py --verbose --config full

      - uses: actions/download-artifact@v3
        with:
          name: "riscof-tests"
          path: test/external/riscof/

      - name: Run tests on Coreblocks
        run: |
          . venv/bin/activate
          MAKEFILE_PATH=test/external/riscof/riscof_work/Makefile.run-DUT-coreblocks NPROC=1 ./ci/riscof_run_makefile.sh

      - name: Compare signatures (test results)
        run: MAKEFILE_PATH=test/external/riscof/riscof_work/Makefile.run-DUT-coreblocks ./ci/riscof_compare.sh


  build-regression-tests:
    name: Build regression tests (riscv-tests)
    runs-on: ubuntu-latest
    container: ghcr.io/kuznia-rdzeni/riscv-toolchain:2023.10.08_v
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Build riscv-tests
        run: cd test/external/riscv-tests && make

      - uses: actions/upload-artifact@v3
        with:
          name: "riscv-tests"
          path: |
            test/external/riscv-tests/test-*

  run-regression-tests:
    name: Run regression tests (riscv-tests)
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container: ghcr.io/kuznia-rdzeni/verilator:v5.008-3.11
    needs: build-regression-tests
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python3 -m venv venv
          . venv/bin/activate
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements-dev.txt

      - name: Generate Verilog
        run: |
          . venv/bin/activate
          PYTHONHASHSEED=0 ./scripts/gen_verilog.py --verbose --config full

      - uses: actions/download-artifact@v3
        with:
          name: "riscv-tests"
          path: test/external/riscv-tests

      - name: Run tests
        run: |
          . venv/bin/activate
          scripts/run_tests.py -a regression

      - name: Test Report
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: test/regression/cocotb/results.xml
          check_name: cocotb test results
          comment_mode: off

  unit-test:
    name: Run unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: |
            requirements.txt
            requirements-dev.txt

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install -r requirements-dev.txt
          sudo apt-get install -y binutils-riscv64-unknown-elf

      - name: Run tests
        run: ./scripts/run_tests.py --verbose

      - name: Check traces
        run: ./scripts/run_tests.py -t -c 1 TestCore

  lint:
    name: Check code formatting and typing
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: |
            requirements.txt
            requirements-dev.txt

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install -r requirements-dev.txt

      - name: Check format
        run: ./scripts/lint.sh check_format

      - name: Check types
        run: ./scripts/lint.sh check_types
